:root {
    --gift: flex;
    --gif: flex;
    --sticker: flex;
    --emoji: flex;
    --upload: flex;
    --invite: block;
    --store: flex;
    --shop: flex;
    --friends: flex;
    --guide: block;
    --channels: block;
    --browse: block;
    --members: block;
    --boost: flex;
}

// Channels sidebar
// Invite button
#channels {
    [aria-label='Create Invite'] {
        display: var(--invite);
    }

    [class*='containerDefault_'] {
        &:has([aria-label='Server Guide']) {
            display: var(--guide);
        }
        &:has([aria-label='Channels & Roles']) {
            display: var(--channels);
        }
        &:has([aria-label='Browse Channels']) {
            display: var(--browse);
        }
        &:has([aria-label='Members']) {
            display: var(--members);
        }
    }

    [data-list-item-id*='channels___boosts-'] {
        display: var(--boost);
    }
}

// Chat buttons
[class*='form-'] {
    // Upload
    [class*='attachButton_'] {
        display: var(--upload);
    }

    [class*='button_'] {
        // Gift
        &[aria-label='Send a gift'] {
            display: var(--gift);
        }

        // GIF
        &[aria-label='Open GIF picker'] {
            display: var(--gif);
        }

        // Sticker
        &[aria-label='Open sticker picker'] {
            display: var(--sticker);
        }

        // Emoji
        &[aria-label='Select emoji'] {
            display: var(--emoji);
        }
    }
}

// DM Buttons
[class*='privateChannels_'] {
    [href='/channels/@me'] {
        display: var(--friends);
    }
    [href='/store'] {
        display: var(--store);
    }
    [href='/shop'] {
        display: var(--shop);
    }
}

//  display: var(--);
