%resetOne {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

%button {
    background-color: var(--button-colour) !important;
    border: 3px solid var(--button-hover);
    border-radius: 0;
    text-align: center;

    &:hover {
        --button-hover: white;
    }

    &[class*='select'] {
        background-color: var(--button-colour-selected);
    }
}

body {
    background: transparent;

    &::before,
    &::after {
        @extend %resetOne;
    }

    &::before {
        background: var(--background-img) center/cover;
    }

    &::after {
        backdrop-filter: blur(unset);
    }
}

#app-mount {
    background-color: rgba(var(--transparency-color), var(--transparency-alpha));

    & .app-3xd6d0,
    .app-2CXKsg,
    .loading-1yrGTe,
    .wrapper-3AZUiP,
    .bg-1QIAus,
    .layer-86YKbF,
    .container-1NXEtd,
    .privateChannels-oVe7HL,
    .panels-3wFtMD > *,
    .chat-2ZfjoI,
    .threadSidebar-1o3BTy,
    .wrapper-3HVHpV,
    .noChannel-Z1DQK7,
    .members-3WRCEx,
    .members-3WRCEx > div,
    .content-3_h0XI,
    .container-2cd8Mz,
    .container-1oAagU,
    .applicationStore-2nk7Lo,
    .pageWrapper-2PwDoS,
    .scrollerBase-_bVAAt,
    .scroller-2FKFPG,
    .standardSidebarView-E9Pc3j,
    .contentRegion-3HkfJJ,
    .membersWrap-3NUR2t {
        background: transparent;
    }
    .scroller-hE2gWq {
        border: none;
    }

    .container-2o3qEW {
        background-color: rgba(var(--transparency-color), var(--transparency-alpha));
    }
    :is(.sidebarRegion-1VBisG, .sidebar-_0OpfR) {
        background-color: rgba(
            var(--transparency-color),
            calc(0.2 * (var(--transparency-alpha) / (var(--transparency-alpha) + 0.01)))
        );
    }
    .wrapper-1_HaEi {
        background-color: rgba(var(--transparency-color), calc(var(--guild-channel-transparency) * 2));
    }
    .panels-3wFtMD {
        background-color: rgba(var(--transparency-color), calc(var(--guild-channel-transparency) / 1.5));
    }

    .wrapper-1_HaEi {
        background-color: rgba(var(--transparency-color), calc(var(--guild-channel-transparency) * 2));
    }

    .sidebar-1tnWFu,
    .container-ZMc96U.themed-Hp1KC_ {
        background-color: rgba(var(--transparency-color), var(--guild-channel-transparency));
    }

    .panels-3wFtMD {
        background-color: rgba(var(--transparency-color), calc(var(--guild-channel-transparency) / 1.5));
    }

    .tabBar-fg4VK9,
    .nowPlayingColumn-1eCBCN {
        background-color: rgba(var(--transparency-color), var(--member-list-transparency));
    }

    .container-2o3qEW::before,
    .layer-86YKbF ~ .layer-86YKbF::before,
    .root-2zfUH6::before,
    .container-2o3qEW::after,
    .layer-86YKbF ~ .layer-86YKbF::after,
    .root-2zfUH6::after {
        @extend %resetOne;
    }

    .container-2RRFHK {
        background: purple !important;
    }

    .layer-86YKbF {
        z-index: 1000;
    }

    .container-2o3qEW::before,
    .layer-86YKbF ~ .layer-86YKbF::before,
    .root-2zfUH6::before {
        background: var(--background-img) center/cover;
        background-attachment: fixed;
    }

    .container-2o3qEW::after,
    .layer-86YKbF ~ .layer-86YKbF::after,
    .root-2zfUH6::after {
        background-color: rgba(var(--transparency-color), var(--transparency-alpha));
        backdrop-filter: blur(unset);
    }

    .uploadArea-2Nu_Vc,
    .backdrop-1BR_bn,
    .backdrop-2ByYRN {
        background: transparent !important;
        opacity: 1 !important;
        animation: none !important;
    }

    .uploadArea-2Nu_Vc::before,
    .backdrop-1BR_bn::before,
    .backdrop-2ByYRN::before,
    .uploadArea-2Nu_Vc::after,
    .backdrop-1BR_bn::after,
    .backdrop-2ByYRN::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: -2;
    }

    .uploadArea-2Nu_Vc::before,
    .backdrop-1BR_bn::before,
    .backdrop-2ByYRN::before {
        background: var(--backdrop) center/cover;
        background-attachment: fixed;
    }

    .uploadArea-2Nu_Vc::after,
    .backdrop-1BR_bn::after,
    .backdrop-2ByYRN::after {
        backdrop-filter: blur(unset);
    }

    .withLayer-2VVmpp {
        z-index: -1;
    }

    .titleBar-1it3bQ {
        position: relative;
        display: flex;
        margin-top: 5px;
        top: 0;
        height: var(--titlebar-height);
        box-sizing: border-box;
        z-index: 9999;
    }

    .wordmark-2u86JB {
        width: auto;
        height: 5px;
        padding: 10px 0 0 4px;
        line-height: 20px;
        font-size: 0.9em;
        top: 0;
        left: 0;
        padding: 0 3px;
        box-sizing: border-box;
        width: 100%;
        height: var(--titlebar-height);
        display: flex;
        align-items: center;

        &::before {
            content: var(--titlebar-content-before);
            height: var(--titlebar-height);
            z-index: 1;
            position: relative;
            color: #fff;
            font-weight: bold;
            opacity: 0.8;
            padding: 0 3px;
            line-height: 15px;
        }

        &::after {
            content: var(--titlebar-content-after);
            height: var(--titlebar-height);
            z-index: 1;
            position: relative;
            color: #fff;
            opacity: 0.8;
            line-height: 15px;
        }
        &::before,
        &::after {
            position: relative;
            width: auto;
            height: 22px;
        }

        svg {
            display: none;
        }
    }

    .channelIcon-3I2O7O {
        display: none;
    }

    .iconMention-3WxjBe::before {
        content: '#';
    }

    .iconMention-3WxjBe {
        padding-left: 2px;
    }

    .message-2CShn3,
    .wrapper-15CKyy,
    .scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .message-2CShn3.selected-2LX7Jy,
    .mouse-mode.full-motion .message-2CShn3:hover,
    .reaction-2A2y9y {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .scrollerInner-2PPAp2 .groupStart-3Mlgv1.expanded-3lghlw {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .homeIcon-r0w4ny {
        width: 85%;
        height: 85%;
        background: var(--home-icon-image) center/cover;

        & > path {
            display: none;
        }
    }

    .selected-1Drb7Z .homeIcon-r0w4ny {
        width: 100%;
        height: 100%;
    }

    /* Buttons:
     * Black border
     * White on hover
     */
    .layer-86YKbF:not([class*='baseLayer']) .item-3XjbnG:not(.tabBarItem-3nPo4Z) {
        @extend %button;

        & > .background-Gjdjzm {
            display: none;
        }
        .premiumLabel-3HPvdB {
            color: var(--interactive-normal);
            text-align: center;
            display: block;
        }
        &:hover .premiumLabel-3HPvdB {
            color: var(--interactive-hover);
        }
    }

    [class*='avatar'],
    [class*='Avatar'],
    [role='group'],
    [class='expandedFolderBackground'] ~ [class='listItem'] {
        mask: none;
        *:not(rect) {
            mask: none;
        }
    }

    [class*='mask']:not(rect),
    [role='group'],
    foreignObject[mask] {
        mask: none;
        *:not(rect) {
            mask: none;
        }
    }
}

.theme-dark {
    .form-3gdLxP:before,
    .children-3xh0VB:after {
        display: none;
    }
}

.childWrapper-1j_1ub {
    background-color: transparent;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: transparent;
}

.chat-2ZfjoI .chatContent-3KubbW::before,
.chat-2ZfjoI .chatContent-3KubbW::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
}
.chat-2ZfjoI .chatContent-3KubbW::before {
    background: var(--bg-chat-area) center/cover;
}
.chat-2ZfjoI .chatContent-3KubbW::after {
    backdrop-filter: blur(unset);
}

/* Scrollbar */

.contentRegionScroller-2_GT_N,
.contentRegionShownSidebar-fHXkEg,
.auto-2K3UW5,
.scrollerBase-_bVAAt {
    /* Thanks Discord for thinking that the scrollbar should always be shown.*/
    overflow-y: auto !important;
}
.auto-2K3UW5 {
    &::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        box-shadow: 0 0 transparent inset, 0 -3px var(--scrollbar-shadow-colour) inset,
            -3px 0 var(--scrollbar-shadow-colour) inset, 0 0 transparent inset;
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border-radius: 0;
        border: 0;
        border-right: 4px solid transparent;
    }
}

#app-mount [class*='errorPage'] {
    background-color: rgba(var(--error-page-color), var(--error-page-transparency));
    [class*='image'] {
        display: none;
        & ~ [class*='text'] {
            [class*='title'] {
                visibility: hidden;
                // position: absolute;
                font-size: 0;
                &:after {
                    content: 'You died!';
                    visibility: visible;
                    font-size: 30px;
                    line-height: 8px;
                    margin-bottom: 24px;
                    font-weight: 600;
                    color: var(--header-primary);
                    text-align: center;
                    // position: fixed;
                    line-height: initial;
                }
            }
            [class*='note'] p {
                visibility: hidden;
                font-size: 0;
                &:after {
                    visibility: visible;
                    text-align: center;
                    font-size: 16px;
                    color: var(--text-muted);
                }
                &:first-child:after {
                    content: 'It appears that your Discord client has crashed.';
                }
                & ~ p:after {
                    content: 'Please join the BetterDiscord server at https://betterdiscord.app/invite for information.';
                }
            }
        }
    }
    [class*='button'] {
        @extend %button;
        [class*='contents'] {
            visibility: hidden;
            font-size: 0;
            &:after {
                content: 'Respawn';
                visibility: visible;
                margin: 0 auto;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
/* 
 .separator-2wx7h6 {
     display: none;
 }
 
 .item-3XjbnG.themed-2-lozF {
     display: none;
 } */
