/**
 * PLEASE PUT THIS INTO YOUR MinimalMode.theme.css if you have 
 * The Account experiment enabled on your account which
 * breaks the settings button's location, or if you just want
 * the mute/deafen to only show when hovering on settings.
 */

/* Makes the mute and deafen buttons appear when hovering on the settings button */
/* Thanks Disease for this! */

:root {
    --icon-height: 32px;
    --added-icons: 0;
}

.container_b2ca13 > .flex_dc333f :not(:last-child) {
    display: none;
}

.container_b2ca13 > .flex_dc333f:hover :not(:last-child) {
    display: flex;
}

.container_b2ca13 .flex_dc333f:hover {
    flex-direction: column;
    margin-bottom: calc(
        ((var(--added-icons) + 2) * var(--icon-height))
    ); /* Compatibility for GameActivityToggle etc. */
    z-index: 1;
}

.container_b2ca13 .flex_dc333f:hover > :not(:last-child) {
    background: var(--background-floating);
    border-radius: 0px;
}

.container_b2ca13 .flex_dc333f:hover > :first-child {
    border-radius: 4px 4px 0px 0px;
}

.container_b2ca13 .flex_dc333f:hover > :nth-child(2) {
    border-radius: 0px 0px 4px 4px;
}

.container_b2ca13 .flex_dc333f:hover > :last-child {
    flex-direction: column;
    z-index: 1;
    background: var(--background-secondary-alt);
    border-radius: 4px;
}

.button_adca65.enabled_adca65:hover {
    color: var(--interactive-hover) !important;
    background-color: var(--background-modifier-selected) !important;
}

.container_b2ca13 {
    display: flex;
    justify-content: space-around;
}

.avatarWrapper_b2ca13 {
    width: 100%;
}

/* Changes the popout to not be very thin */
.styleFixed-2_NfVL {
    width: min(calc(var(--sidebar-width) + 40px), 300px);
}
