:root {
    color: var(--channels-default);

    /* Variables */
    --guildbar-width: 56px;
    --sidebar-width: 200px;
    --header-height: 40px;
}

/* Makes all member list/"channel information" areas work */
.container-2Oqvgx {
    width: auto;
}

.tabs-1RhQha {
    padding: 10px 6px;
    display: block;
    height: fit-content;
    max-height: none;
}

/* Sidebars */

.sidebar_a4d4d9,
.members_cbd271,
.membersWrap_cbd271,
.nowPlayingColumn_c2739c,
.bannerImage_fd6364,
.container-NkLXgf,
.privateChannels_f0963d {
    width: var(--sidebar-width);
    min-width: auto;
}

/* Fixes overflow for unread bars */
.unreadBottom__6be9f>.bar_c10249 {
    font-size: 10px;
}

.topPill-3DJJNV .item-3XjbnG {
    margin: 0 4px 0 0;
}

/* User Container */

.container_b2ca13 .noWrap_ec1a20 {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.container_b2ca13:hover .noWrap_ec1a20 {
    display: flex;
    opacity: 1;
    pointer-events: all;
}

.container_b2ca13 {
    height: 45px;
}

/* Header container heights */

.container_e44302,
.header_fd6364,
.searchBar_f0963d {
    height: var(--header-height);
}

.libraryHeader_cb9493::before {
    top: var(--header-height);
}

/* Settings */

.sidebarRegion_c25c6d {
    flex: 0;
}

.contentColumn_c25c6d {
    flex-grow: 1;
    max-width: 100%;
}

#my-account-tab {
    padding: unset;

    &>div {
            max-width: 740px;
            padding: 60px 40px 80px;
        }
}

.customScroller_c25c6d>div,
.sidebarScrollable_e9196a+.content_e9196a {
    max-width: unset;
}

.bd-addon-list {
    &.bd-grid-view {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }

    .bd-addon-card {
        margin-bottom: 10px;
    }
}

/* Friends (https://tropix126.github.io/BetterDiscordStuff/midnight/css/base.css) */

@keyframes slide-out-enable {
    0% {
        pointer-events: none;
    }

    100% {
        pointer-events: all;
    }
}

.peopleColumn_c2739c {
    margin-right: 50px;
}

@media (max-width: 1200px) {
    .peopleColumn_c2739c {
        margin-right: 0;
    }
}

.nowPlayingColumn_c2739c {
    min-width: unset;
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    transform: translateX(250px);
    background: var(--background-secondary-alt);
    transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
    z-index: 1;

    &::after {
        content: "|||";
        color: var(--header-primary);
        font-size: 12px;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        transition: 250ms ease;
    }

    &:hover::after {
        opacity: 0;
    }

    &:hover {
        transform: none;
    }

    .nowPlayingScroller__5cd67 {
        pointer-events: none;
        opacity: 0;
        transform: scale(0.95);
        transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
    }

    &:hover .nowPlayingScroller__5cd67 {
        opacity: 1;
        transform: none;
    }

    .itemCard_f02fcf {
        animation: slide-out-enable 450ms linear forwards;
    }
}

/* Context menus (status picker) */

.item-1OdjEX {
    min-height: 18px;
}

.styleFixed-2_NfVL {
    width: calc(var(--sidebar-width) - 20px);
}

.description_e0f739 {
    display: none;
}

/* Tooltips */

.tooltip-14MtrL {
    border-radius: 4px;
}

.tooltipContent-Nejnvh {
    padding: 4px 8px;
    font-size: 13px;
}

/* Messages */

.cozy_ec86aa.wrapper_ec86aa {
    padding-left: 64px;

    .avatar_ec86aa {
        transform: scale(0.75);
        width: 32px;
        height: 32px;
        position: absolute !important;
    }
}

.buttons_d5deea {
    transform: scale(0.75);
    transform-origin: right;
}

/* Chat input */

.form_a7d72e {
    padding-left: 10px;
    padding-right: 10px;
}

/* Guilds */

.guilds_a4d4d9 {
    width: var(--guildbar-width);

    .wrapper_fd07a3 {
        height: calc(var(--guildbar-width) * 0.625) !important;

        span {
            max-height: calc(var(--guildbar-width) * 0.375) !important;
        }
    }

    div[style*="height: 56px"],
    [role="group"] {
        height: auto !important;
    }

    [class*="unreadMentionsIndicator"],
    .wrapper_bc7085 {
        width: 100%;
    }

    .wrapper-28eC3z,
    [class*="guildsError-"],
    svg[width="48"] {
        width: calc(var(--guildbar-width) * 0.625) !important;
        height: calc(var(--guildbar-width) * 0.625) !important;
    }

    // .wrapper-3Njo_c>span {
    //     left: calc(var(--guildbar-width) * 0.175) !important;
    //     width: calc(var(--guildbar-width) * 0.625) !important;
    // }

    #bd-pub-button {
        height: calc(var(--guildbar-width) * 0.375) !important;
        line-height: calc(var(--guildbar-width) * 0.375) !important;
        font-size: 10px;
    }

    .wrapper_c5f96a {
        width: calc(var(--guildbar-width) * 0.625) !important;
        height: calc(var(--guildbar-width) * 0.625) !important;
    }

    .listItem_c96c45 {
        width: var(--guildbar-width) !important;
    }

    /* Makes open folders look normal */
    .expandedFolderBackground_bc7085 {
        left: calc(var(--guildbar-width) * 0.2) !important;
        width: calc(var(--guildbar-width) * 0.625) !important;
        --custom-folder-item-guild-icon-margin: 0px;
    }
}

/* Private channels horizontal icons */
.channel_c91bad:is([href="/channels/@me"], [href="/discovery"], [href="/library"], [href="/store"]) {
    width: calc(25% - 8px);
    margin-left: 8px;
    padding: 0;
    display: inline-block;

    .content_e9f61e,
    .children_e9f61e {
        display: none;
    }

    .avatar_e9f61e {
        margin: 0;
        flex-grow: 1;
    }
}

.layout_e9f61e {
    justify-content: center;
}

/* Compatibility for MembersList */
#MemberCount {
    width: auto !important;
    margin-top: 0 !important;

    .membersGroup_cbd271 {
        height: auto;
    }
}