@import url("https://smolalli.github.io/Themes/MinimalMode/AccountExperimentFix.css");
:root {
  color: var(--channels-default);
  /* Variables */
  --guildbar-width: 56px;
  --sidebar-width: 200px;
  --header-height: 40px;
  --avatar-size: 32px;
  --play-again-size: 28px;
}

/* Makes all member list/"channel information" areas work */
.container-2Oqvgx {
  width: auto;
}

.tabs-1RhQha {
  padding: 10px 6px;
  display: block;
  height: fit-content;
  max-height: none;
}

/* Sidebars */
#app-mount .sidebar_c48ade,
#app-mount .members_c8ffbb,
#app-mount .membersWrap_c8ffbb,
#app-mount .nowPlayingColumn__133bf,
#app-mount .bannerImage_f37cb1,
#app-mount .container-NkLXgf,
#app-mount .privateChannels__35e86 {
  width: var(--sidebar-width) !important;
  min-width: auto;
}
#app-mount .hidden_c48ade {
  width: 0 !important;
}

/* Fixes overflow for unread bars */
.unreadBottom__6be9f > .bar__3b95d {
  font-size: 10px;
}

.topPill-3DJJNV .item-3XjbnG {
  margin: 0 4px 0 0;
}

/* "Play again" */
.iconCard__675e5 {
  height: var(--play-again-size);
  width: var(--play-again-size);
  border-radius: 30%;
}

/* User Container */
.container__37e49 .noWrap_abf706 {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.container__37e49:hover .noWrap_abf706 {
  display: flex;
  opacity: 1;
  pointer-events: all;
}

.container__37e49 {
  height: 45px;
}

/* Header container heights */
.container__9293f,
.header_f37cb1,
.searchBar__35e86 {
  height: var(--header-height);
}

.libraryHeader__5a895::before {
  top: var(--header-height);
}

/* Settings */
.sidebarRegion__23e6b {
  flex: 0;
}

.contentColumn__23e6b:not([id="voice-&-video-tab"]) {
  flex-grow: 1;
  max-width: 100%;
}

#my-account-tab {
  padding: unset;
}
#my-account-tab > div {
  max-width: 740px;
  padding: 60px 40px 80px;
}

.customScroller__23e6b > div,
.sidebarScrollable_ff90b2 + .content_ff90b2 {
  max-width: unset;
}

.bd-addon-list.bd-grid-view {
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}
.bd-addon-list .bd-addon-card {
  margin-bottom: 10px;
}

/* Friends (https://tropix126.github.io/BetterDiscordStuff/midnight/css/base.css) */
@keyframes slide-out-enable {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
.peopleColumn__133bf {
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .peopleColumn__133bf {
    margin-right: 0;
  }
}
.nowPlayingColumn__133bf {
  min-width: unset;
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  transform: translateX(250px);
  background: var(--background-secondary-alt);
  transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
  z-index: 1;
}
.nowPlayingColumn__133bf::after {
  content: "|||";
  color: var(--header-primary);
  font-size: 12px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 250ms ease;
}
.nowPlayingColumn__133bf:hover::after {
  opacity: 0;
}
.nowPlayingColumn__133bf:hover {
  transform: none;
}
.nowPlayingColumn__133bf .nowPlayingScroller__5cd67 {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.95);
  transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
}
.nowPlayingColumn__133bf:hover .nowPlayingScroller__5cd67 {
  opacity: 1;
  transform: none;
}
.nowPlayingColumn__133bf .itemCard__7e549 {
  animation: slide-out-enable 450ms linear forwards;
}

/* Context menus (status picker) */
.item-1OdjEX {
  min-height: 18px;
}

.styleFixed-2_NfVL {
  width: calc(var(--sidebar-width) - 20px);
}

.description_e0f739 {
  display: none;
}

/* Tooltips */
.tooltip-14MtrL {
  border-radius: 4px;
}

.tooltipContent-Nejnvh {
  padding: 4px 8px;
  font-size: 13px;
}

/* Messages */
.cozy_c19a55.wrapper_c19a55 {
  padding-left: 64px;
}
.cozy_c19a55.wrapper_c19a55 .avatar_c19a55 {
  transform: scale(0.75);
  width: var(--avatar-size);
  height: var(--avatar-size);
  position: absolute !important;
}
.cozy_c19a55.wrapper_c19a55 .avatarDecoration_c19a55 {
  transform: scale(0.75);
  width: var(--avatar-size);
  height: var(--avatar-size);
  left: calc(var(--custom-message-margin-horizontal) - (var(--avatar-size) * 1.2 - var(--avatar-size)) / 2);
}

.buttons__5126c {
  transform: scale(0.75);
  transform-origin: right;
}

/* Chat input */
.form_f75fb0 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Guilds */
.guilds_c48ade {
  width: var(--guildbar-width);
  /* Makes open folders look normal */
  /* Pings on DMs/servers */
}
.guilds_c48ade .wrapper__58105 {
  height: calc(var(--guildbar-width) * 0.625) !important;
}
.guilds_c48ade .wrapper__58105 span {
  max-height: calc(var(--guildbar-width) * 0.375) !important;
}
.guilds_c48ade div[style*="height: 56px"],
.guilds_c48ade [role=group] {
  height: auto !important;
}
.guilds_c48ade [class*=unreadMentionsIndicator],
.guilds_c48ade .wrapper__48112 {
  width: 100%;
}
.guilds_c48ade .wrapper-28eC3z,
.guilds_c48ade [class*=guildsError-],
.guilds_c48ade svg[width="48"] {
  width: calc(var(--guildbar-width) * 0.625) !important;
  height: calc(var(--guildbar-width) * 0.625) !important;
}
.guilds_c48ade #bd-pub-button {
  height: calc(var(--guildbar-width) * 0.375) !important;
  line-height: calc(var(--guildbar-width) * 0.375) !important;
  font-size: 10px;
}
.guilds_c48ade .wrapper_cc5dd2 {
  width: calc(var(--guildbar-width) * 0.625) !important;
  height: calc(var(--guildbar-width) * 0.625) !important;
}
.guilds_c48ade .listItem__650eb {
  width: var(--guildbar-width) !important;
}
.guilds_c48ade .expandedFolderBackground__48112 {
  left: calc(var(--guildbar-width) * 0.2) !important;
  width: calc(var(--guildbar-width) * 0.625) !important;
  --custom-folder-item-guild-icon-margin: 0px;
}
.guilds_c48ade .numberBadge__2b1f5 {
  min-height: 12px;
  min-width: 12px;
  height: 12px;
  width: 12px !important;
  font-size: 10px;
}

/* Private channels horizontal icons */
.channel__972a0:is([href="/channels/@me"], [href="/discovery"], [href="/library"], [href="/store"]) {
  width: calc(25% - 8px);
  margin-left: 8px;
  padding: 0;
  display: inline-block;
}
.channel__972a0:is([href="/channels/@me"], [href="/discovery"], [href="/library"], [href="/store"]) .content__91a9d,
.channel__972a0:is([href="/channels/@me"], [href="/discovery"], [href="/library"], [href="/store"]) .children__91a9d {
  display: none;
}
.channel__972a0:is([href="/channels/@me"], [href="/discovery"], [href="/library"], [href="/store"]) .avatar__91a9d {
  margin: 0;
  flex-grow: 1;
}

.layout__91a9d {
  justify-content: center;
}

/* Compatibility for MembersList */
#MemberCount {
  width: auto !important;
  margin-top: 0 !important;
}
#MemberCount .membersGroup_c8ffbb {
  height: auto;
}

/*# sourceMappingURL=source.css.map */
