@font-face {
    font-family: 'Minecraft';
    src: url("MinecraftRegular-Bmg3.ttf") format("truetype");
}

@font-face {
    font-family: 'Minecraft';
    font-weight: bold;
    src: url("MinecraftBold-nMK1.ttf") format("truetype");
}

@font-face {
    font-family: 'Minecraft';
    font-style: italic;
    src: url("MinecraftItalic-R8Mo.ttf") format("truetype");
}

@font-face {
    font-family: 'Minecraft';
    font-weight: bold;
    font-style: italic;
    src: url("MinecraftBoldItalic-1y1e.ttf") format("truetype");
}